name: Publish Docker image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: downcase REPO
        run: |
          echo "REPO=${GITHUB_REPOSITORY_OWNER,,}" >>${GITHUB_ENV}

      - name: Extract Git SHA
        run: |
          echo "GIT_SHA=${GITHUB_SHA::7}" >>${GITHUB_ENV}

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: 'Build Image'
        run: |
          docker build . --tag ghcr.io/${REPO}/k8s-mockserver:latest --tag ghcr.io/${REPO}/k8s-mockserver:${GIT_SHA}
          docker push ghcr.io/${REPO}/k8s-mockserver:latest
          docker push ghcr.io/${REPO}/k8s-mockserver:${GIT_SHA}

      - name: 'Build Image 2'
        run: |
          docker build . -f DockerfileServer --tag ghcr.io/${REPO}/k8s-mockserver-standalone:latest --tag ghcr.io/${REPO}/k8s-mockserver-standalone:${GIT_SHA}
          docker push ghcr.io/${REPO}/k8s-mockserver-standalone:latest
          docker push ghcr.io/${REPO}/k8s-mockserver-standalone:${GIT_SHA}
